[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
crcelk = "==1.3"
pluginbase = "==1.0.1"
pyasn1 = "==0.4.5"
pyserial = "==3.4"
smoke-zephyr = "==1.4.1"
tabulate = "==0.8.10"
termcolor = "==1.1.0"
